Repository ADASK-B/agent-ready-k8s, changes with the owners that CODEOWNERS names for each.
All owners: @ADASK-B/platform-team, @ADASK-B/tech-writers, @ADASK-B/architects, @ADASK-B/api-team, @ADASK-B/sre-team, @ADASK-B/security-team, @ADASK-B/backend-team, @ADASK-B/frontend-team, @ADASK-B/dba-team

fix: Remove unnecessary blank lines in documentation and code files
  docs/adr/ADR-0002-hot-reload-redis.md
  docs/adr/ADR-0004-guest-auth.md
  docs/adr/ADR-0005-canned-chat.md
  docs/api/error-catalog.md
  docs/api/openapi.yaml
  docs/architecture/diagrams/README.md
  docs/architecture/diagrams/config-hot-reload.mmd
  docs/architecture/diagrams/container-diagram.mmd
  docs/architecture/diagrams/data-flow.mmd
  docs/architecture/diagrams/deployment-view.mmd
  docs/architecture/diagrams/observability-stack.mmd
  docs/architecture/diagrams/system-context.mmd
  docs/quickstart/local-dev.md
  docs/runbooks/sql-backup-restore.md
Owners: @ADASK-B/architects, @ADASK-B/api-team, @ADASK-B/platform-team, @ADASK-B/tech-writers, @ADASK-B/sre-team

feat: Add ADR-0006 for Oracle Cloud Free Tier as MVP platform
  .github/workflows/enforce-image-digests.yml
  README.md
  docs/adr/ADR-0006-oracle-cloud-free-tier.md
  docs/architecture/ARCHITECTURE.md
  docs/legal/LICENSE-3RD-PARTY.md
  docs/legal/NOTICE.md
  renovate.json
Owners: @ADASK-B/platform-team, @ADASK-B/sre-team, @ADASK-B/architects, @ADASK-B/tech-writers

feat: Update repository structure section in README for clarity
  README.md
  docs/roadmap/Phase-1.md
Owners: @ADASK-B/platform-team, @ADASK-B/tech-writers

feat: Vendor podinfo Helm chart for local deployment, removing external dependencies
  docs/roadmap/Phase-0.md
  setup-template/phase0-template-foundation/08-deploy-podinfo/deploy.sh
Owners: @ADASK-B/platform-team, @ADASK-B/tech-writers

feat(phase0): vendor podinfo chart for GitOps foundation
  helm-charts/infrastructure/podinfo/.helmignore
  helm-charts/infrastructure/podinfo/Chart.yaml
  helm-charts/infrastructure/podinfo/LICENSE
  helm-charts/infrastructure/podinfo/README.md
  helm-charts/infrastructure/podinfo/templates/NOTES.txt
  helm-charts/infrastructure/podinfo/templates/_helpers.tpl
  helm-charts/infrastructure/podinfo/templates/certificate.yaml
  helm-charts/infrastructure/podinfo/templates/deployment.yaml
  helm-charts/infrastructure/podinfo/templates/hpa.yaml
  helm-charts/infrastructure/podinfo/templates/ingress.yaml
  helm-charts/infrastructure/podinfo/templates/linkerd.yaml
  helm-charts/infrastructure/podinfo/templates/pdb.yaml
  helm-charts/infrastructure/podinfo/templates/redis/config.yaml
  helm-charts/infrastructure/podinfo/templates/redis/deployment.yaml
  helm-charts/infrastructure/podinfo/templates/redis/service.yaml
  helm-charts/infrastructure/podinfo/templates/service.yaml
  helm-charts/infrastructure/podinfo/templates/serviceaccount.yaml
  helm-charts/infrastructure/podinfo/templates/servicemonitor.yaml
  helm-charts/infrastructure/podinfo/templates/tests/cache.yaml
  helm-charts/infrastructure/podinfo/templates/tests/fail.yaml
  helm-charts/infrastructure/podinfo/templates/tests/grpc.yaml
  helm-charts/infrastructure/podinfo/templates/tests/jwt.yaml
  helm-charts/infrastructure/podinfo/templates/tests/service.yaml
  helm-charts/infrastructure/podinfo/templates/tests/timeout.yaml
  helm-charts/infrastructure/podinfo/templates/tests/tls.yaml
  helm-charts/infrastructure/podinfo/values-prod.yaml
  helm-charts/infrastructure/podinfo/values.yaml
Owners: @ADASK-B/platform-team

docs(phase0): add commit strategy table
  docs/roadmap/Phase-0.md
Owners: @ADASK-B/platform-team, @ADASK-B/tech-writers

docs(phase0): remove specific commit reference from Git Commit Strategy section
  docs/roadmap/Phase-0.md
Owners: @ADASK-B/platform-team, @ADASK-B/tech-writers

feat(phase1): restructure Phase 1 roadmap for GitOps transformation and backend core migration
  docs/roadmap/Phase-1.md
Owners: @ADASK-B/platform-team, @ADASK-B/tech-writers

feat(phase1): create GitOps folder structure
  clusters/local/.gitkeep
  clusters/production/.gitkeep
Owners: @ADASK-B/platform-team

feat(phase1): create Argo CD Applications
  apps/base/ingress-nginx-app.yaml
  apps/base/podinfo-app.yaml
  apps/base/postgresql-app.yaml
  apps/base/redis-app.yaml
Owners: @ADASK-B/platform-team

fix(phase1): pin PostgreSQL and Redis image versions
  apps/base/postgresql-app.yaml
  apps/base/redis-app.yaml
Owners: @ADASK-B/platform-team

fix(phase1): use major version tags for postgresql and redis
  apps/base/postgresql-app.yaml
  apps/base/redis-app.yaml
Owners: @ADASK-B/platform-team

fix(phase1): use 'latest' tag for postgresql and redis
  apps/base/postgresql-app.yaml
  apps/base/redis-app.yaml
Owners: @ADASK-B/platform-team

test(phase1): scale podinfo to 3 replicas for auto-sync test
  apps/base/podinfo-app.yaml
Owners: @ADASK-B/platform-team

test(phase1): revert podinfo to 2 replicas - auto-sync test complete
  apps/base/podinfo-app.yaml
Owners: @ADASK-B/platform-team

docs(phase1): Phase 1 GitOps Transformation complete ✅
  docs/roadmap/Phase-1.md
Owners: @ADASK-B/platform-team, @ADASK-B/tech-writers

fix(phase1): update status to 'Completed' for GitOps Transformation
  docs/roadmap/Phase-1.md
Owners: @ADASK-B/platform-team, @ADASK-B/tech-writers

docs: add repository guidelines and project structure documentation
  AGENTS.md
Owners: @ADASK-B/platform-team

CODEOWNERS:

# CODEOWNERS
# Each line is a file pattern followed by one or more owners.
# Owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
*                           @ADASK-B/platform-team

# Documentation
/docs/                      @ADASK-B/platform-team @ADASK-B/tech-writers
/docs/architecture/         @ADASK-B/architects
/docs/api/                  @ADASK-B/api-team
/docs/runbooks/             @ADASK-B/sre-team

# Architecture Decision Records
/docs/adr/                  @ADASK-B/architects

# Infrastructure as Code
/infra/terraform/           @ADASK-B/platform-team @ADASK-B/sre-team
/infra/argocd/              @ADASK-B/platform-team
/infra/helm-charts/         @ADASK-B/platform-team
/infra/policies/            @ADASK-B/security-team

# Application Code
/app/backend/               @ADASK-B/backend-team
/app/frontend/              @ADASK-B/frontend-team

# Database Migrations
/app/backend/db/migrations/ @ADASK-B/backend-team @ADASK-B/dba-team

# Tools & Scripts
/tools/                     @ADASK-B/platform-team

# CI/CD Workflows
/.github/workflows/         @ADASK-B/platform-team @ADASK-B/sre-team

# Security
/SECURITY.md                @ADASK-B/security-team
/policies/                  @ADASK-B/security-team

# Root Configuration Files
/Makefile                   @ADASK-B/platform-team
/.pre-commit-config.yaml    @ADASK-B/platform-team
/.gitignore                 @ADASK-B/platform-team

# Observability
/infra/grafana/             @ADASK-B/sre-team
/docs/runbooks/             @ADASK-B/sre-team
